{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}





<link rel="stylesheet" type="text/css" href="{% static '/css/customer.css' %}">
<script src="{% static '/js/customer.js' %}"></script>








<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Products:</span>
        <div class="actions">
          <a href="{% url 'add_product' %}" class="modal-trigger waves-effect btn-flat nopadding"><img src="{% static '/images/add-product.svg' %}" height=30></a>
          <a href="#" class="search-toggle waves-effect btn-flat nopadding"><img src="{% static '/images/search.svg' %}" ></a>
        </div>
      </div>

      <table id="datatable">
      	
        <thead>
          <tr>
            <th>Customer ID</th>
            <th>Product Name</th>
            <th>Status</th>
             <th>Ordered Date</th>
            <th>Total </th>
            <th>Update</th>
           	<th>Delete</th>
          </tr>


        	{% for i in orders %}
      
					<tr>
          <td>{{i.customer_name}}</td>
          <td>{{ i.product_name}} </td>
					<td>{{ i.status }}</td>
					<td>{{ i.date_created }}</td>
					<td></td>
					<td><a class = "btn btn-sm btn-info"href="">Update</a></td>
					<td><a class = "btn btn-sm btn-danger" href = ""> Delete</a></td>
					</tr>

       
				  {% endfor %}	


        </thead>
      </table>


    </div>
  </div>
</div>

























{% endblock %}